<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mon super pokedex</title>
    <link rel="stylesheet" href="css/bootsrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>Mon super pokédex</h1>
      {% block content %}{% endblock %}
      <hr />
      <div class="tex-center">
        Copyright Codecast 2019
      </div>
    </div>
  </body>
</html>
